@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --mainColor: #5145ed;
  --secondColor: #67e68d;
  --darkColor: #06054b;
  --bgColor: #f6f7f9;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
  text-transform: capitalize;
}

a.active {
  color: var(--secondColor) !important;
}

.spinner {
  --d: 24.6px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  color: var(--mainColor);
  box-shadow: calc(1*var(--d)) calc(0*var(--d)) 0 0,
    calc(0.707*var(--d)) calc(0.707*var(--d)) 0 1.1px,
    calc(0*var(--d)) calc(1*var(--d)) 0 2.2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3.4px,
    calc(-1*var(--d)) calc(0*var(--d)) 0 4.5px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5.6px,
    calc(0*var(--d)) calc(-1*var(--d)) 0 6.7px;
  animation: spinner-a90wxe 1s infinite steps(8);
}

@keyframes spinner-a90wxe {
  100% {
    transform: rotate(1turn);
  }
}

/* .feat-box:hover .icon {
  color: white;
} */

.feat-box:hover .feat-title {
  color: var(--secondColor);
}

.box:hover .line {
  background-color: var(--mainColor);
}

.team-box:hover .team-img {
  transform: scale(1.1);
}

.ending {
  background: linear-gradient(to left, var(--mainColor), #0775a6);
}